## Yolo Analysis

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [2]:
# 1. Setup Connection
load_dotenv(dotenv_path='../.env') # Adjust path to .env
DB_URL = f"postgresql://{os.getenv('POSTGRES_USER')}:{os.getenv('POSTGRES_PASSWORD')}@" \
         f"{os.getenv('POSTGRES_HOST')}:{os.getenv('POSTGRES_PORT')}/{os.getenv('POSTGRES_DB')}"

engine = create_engine(DB_URL)

## Q1: Promotional vs Product Display Views

In [3]:
sql_q1 = """
SELECT 
    image_category, 
    COUNT(*) as total_posts, 
    ROUND(AVG(view_count), 0) as avg_views
FROM fct_image_detections
GROUP BY image_category
ORDER BY avg_views DESC;
"""
df_q1 = pd.read_sql(sql_q1, engine)
print("--- Engagement by Image Category ---")
display(df_q1)

--- Engagement by Image Category ---

    image_category  total_posts  avg_views
0        lifestyle          230    13702.0
1            other          897    11072.0
2      promotional           34     5186.0
3  product_display          228     1812.0

## Q2: Which channels use the most visual content?

In [4]:
sql_q2 = """
SELECT 
    c.channel_name,
    COUNT(d.message_id) as image_count
FROM fct_image_detections d
JOIN dim_channels c ON d.channel_key = c.channel_key
GROUP BY c.channel_name
ORDER BY image_count DESC;
"""
df_q2 = pd.read_sql(sql_q2, engine)
print("--- Visual Content Volume by Channel ---")
display(df_q2)

--- Visual Content Volume by Channel ---

         channel_name  image_count
0  @lobelia4cosmetics          500
1    @Thequorachannel          358
2         @tenamereja          235
3       @tikvahpharma          227
4          @CheMed123           69